.progress{
    height: 20px;
    width: 700px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background:     linear-gradient(to right,rgb(58, 196, 40) 30%, white 30% 100%);
}

.wrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
}