.nav{
    grid-area: n;
    background-color: rgb(31, 35, 45);
    padding: 20px;
    border-radius: 15px;
    border: .1px solid rgb(48, 53, 66);
  }
  
  .item{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
    align-items: center;
    transition: all .25s ease;
      -webkit-transition: all ease .25s;
  }
  
  .item:hover{
    background-color: rgb(44, 49, 62);
    border-radius: 3px;
  
  }
  
  .active{
    color: white;
    text-decoration: none;
  }
  
  .item:nth-child(6){
    margin-top: 20px;
  }
  
  .item:nth-child(7){
    margin-top: 30px;
  }
  
  .avatars{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .avatar{
    width: 45px;
    height: 45px;
  }